.pix-app-brand {
  display: flex;
  align-items: center;

  &__logo {
    width: 61px;
    height: 50px;
    background-size: 61px 50px;
    margin-right: 15px;
  }

  &__title {
    color: $white;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
    border-left: 1px solid white;

    &:hover {
      color: $white;
    }

    &--black {
      color: $nero;
      border-left: 1px solid $nero;
      display: none;

      @include device-is('desktop') {
        display: block;
      }

      &:hover {
        color: $nero;
      }
    }
  }
}
