.pix-app-header {
  width: 100%;
  height: 70px;
  position: absolute;
  padding: 15px 10px 14px;
  display: flex;
  justify-content: space-between;

  &--fixed {
    position: fixed;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  &__brand {
    height: 40px;
    color: $white;
    display: flex;
    margin-left: 15px;
  }

  &__search-bar {
    position: absolute;
    border: 2px solid $alto;
    border-radius: 6px;
    padding: 1px;
    width: 250px;
    right: 10px;

    @include device-is('desktop') {
      width: 350px;
      right: 150px;
    }

    @include device-is('mobile-small') {
      width: 280px;
    }

    & > .hc-search-form > .hc-search-input input,
    .hc-search-button .btn {
      height: 35px;
    }
  }
}
