.pix-hero-banner-solution-nav {
  display: table-cell;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0;
  z-index: 1;

  @include device-is('desktop') {
    display: block;
    position: static;
  }

  &>ul {
    &>li {
      display: block;

      @include device-is('desktop') {
        display: inline-block;
      }

      &:hover .pix-hero-banner-solution-nav__subnav {
        display: none;

        @include device-is('desktop') {
          display: block;
        }
      }

      &.active {
        background-color: $white;
        color: $nero;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        & a {
          color: $nero;
        }

        &:hover {
          background-color: $white;
          color: $nero;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }

      &:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        color: $white;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &.selected {
        background-color: $white;
        color: $nero;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  & a {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1rem 2rem;
    background-color: #F4F7FA;
    color: $nero;
    font-size: 1rem;
    line-height: 1.3125rem;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: block;

    @include device-is('desktop') {
      color: $white;
      font-weight: 600;
      text-decoration: none;
      padding: 0 15px;
      display: inline-block;
      width: 100%;
      line-height: 2.5rem;
      min-height: 40px;
      background: none;
      border: none;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    font-weight: 300;
    font-family: "Font Awesome 5 Pro";
    text-align: center;
    line-height: 40px;
    z-index: 2;
    transition: .5s all;

    &--open {
      transform: rotate(45deg);
    }

    &:hover {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    @include device-is('desktop') {
      display: none;
    }

    &:before {
      color: $dove-gray;
      content: "\f057";
    }

  }

  &__list {
    list-style: none;
    margin: 5px 0;
    height: auto;
    overflow: hidden;

    &--close {
      height: 54px;

      @include device-is('desktop') {
        height: auto;
      }
    }
  }

  &__subnav {
    display: none;
    position: absolute;
    background-color: $white;
    list-style: none;
    z-index: 10;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    border: 1px solid #ccc;
    border-top: 0;
    margin: 0 0 0 -1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &:hover {
      display: block;
    }

    & ul {
      list-style: none;

      &>li {
        display: inline-block;

        &.selected {
          background-color: $white;
          color: $nero;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }

    & a {
      font-weight: normal;
      font-size: 0.9375rem;
      color: $nero;
      text-decoration: none;
    }

    & a:hover {
      background-color: #F4F7FA;
      color: $nero;
      font-weight: normal;
    }
  }
}

