.pix-solution-card {
  margin: 20px;
  width: 29%;
  display: inline-block;
  vertical-align: top;
  background-color: $white;
  min-height: 280px;
  min-width: 280px;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

  @include device-is('mobile-small') {
    margin: 20px 0;
  }

  &__title {
    color: $nero;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__description {
    padding: 0 40px;
    color: $tundora;
  }

  &__icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    &--15000003793 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-pix-et-moi.png?1602598218); }
    &--15000003810 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-utiliser-pix.png?1602598218); }
    &--15000003814 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-enseignement-scolaire.png?1602598218); }
    &--15000003812 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-enseignement-superieur.png?1602598218); }
    &--15000003813 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-pix-pro.png?1602598218); }
    &--15000003811 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-la-certification.png?1602598218); }
    &--15000004362 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-mediation-numerique.png?1602598218); }
    &--15000004613 {
      background-image: url(https://storage.gra.cloud.ovh.net/v1/AUTH_27c5a6d3d35841a5914c7fb9a8e96345/pix-help-center/images/category-fwb.jpg?1665158810); }
  }
}

.pix-solution-card:hover {
  text-decoration: none;
  color: $nero;
  box-shadow: 0 14px 24px 0 rgba(12, 22, 58, 0.2),
    0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translate3D(0, -8px, 0);

  @include device-is('desktop') {
  }
}
