.pix-solution-card {
  margin: 20px;
  width: 29%;
  display: inline-block;
  vertical-align: top;
  background-color: $white;
  min-height: 280px;
  min-width: 280px;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 7px 14px 0 rgba(12, 22, 58, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

  @include device-is('mobile-small') {
    margin: 20px 0;
  }

  &__title {
    color: $nero;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__description {
    padding: 0 40px;
    color: $tundora;
  }

  &__icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    &--15000003793 {
      /* Pix & moi */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015040994732/original/aLi_Htt0lq3sbO3ILARhSzuJXocXU2q6yQ.png?1602598218); }
    &--15000003810 {
      /* Utiliser Pix */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015040994713/original/d6cJrJtD07DffgXuBXp85QtUEa2YFNk2JQ.png?1602598206); }
    &--15000003814 {
      /* La certification */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015040994635/original/6VsG6ywC1WaqXt2F1B1A1UUHJPwXTomcEw.png?1602598173); }
    &--15000003812 {
      /* Enseignement scolaire */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015040994604/original/MpFbF_qAUwxUfD_cGZVm4mfDLnt9fdNbSA.png?1602598161); }
    &--15000003813 {
      /* Enseignement supérieur */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015040994640/original/FNGhyNladcvzu4A51bgoHqSjF9lntpKuCA.png?1602598180); }
    &--15000003811 {
      /* Médiation Numérique */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015040994584/original/ittVQqQ4gZbRmxV-rmgc4VhIGVXz4qloAw.png?1602598152); }
    &--15000004362 {
      /* Pix Pro */
      background-image: url(https://s3-eu-central-1.amazonaws.com/euc-cdn.freshdesk.com/data/helpdesk/attachments/production/2015050320650/original/ggQLqlS1nkiNX5uOCe2SQgiUCkG9S3vtlQ.png?1615804282); }
  }
}

.pix-solution-card:hover {
  text-decoration: none;
  color: $nero;
  box-shadow: 0 14px 24px 0 rgba(12, 22, 58, 0.2),
    0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translate3D(0, -20px, 0);

  @include device-is('desktop') {
  }
}
