// Colors
$aqua: #388AFF;
$dodger-blue: #3D68FF;
$heliotrope: #985FFF;

// Text-color
$white: #FFFFFF;
$alto: #DDDDDD;
$dusty-gray: #999999;
$dove-gray: #666666;
$tundora: #444444;
$mine-shaft: #333333;
$nero: #222222;
$silver-chalice: #A0A0A0;

// Gradients
$blue-purple-gradient: linear-gradient(135.25deg, $dodger-blue 0%, $heliotrope 100%);
