{% if  portal.current_page != 'csat_survey' %}
  <footer class="pix-app-footer">
    <div class="pix-app-footer__logo"></div>
    <nav class="pix-app-footer__nav pix-app-footer__nav--column-on-mobile">
    </nav>
    <nav class="pix-app-footer__nav">
      <a class="pix-app-footer-nav__icon pix-app-footer-nav__icon--facebook" href="https://www.facebook.com/Pix-148371465913378/" aria-label="Facebook"></a>
      <a class="pix-app-footer-nav__icon pix-app-footer-nav__icon--twitter" href="https://twitter.com/pix_officiel" aria-label="Twitter"></a>
      <a class="pix-app-footer-nav__icon pix-app-footer-nav__icon--linkedin" href="https://www.linkedin.com/company/gip-pix/" aria-label="Linkedin"></a>
    </nav>

    <script>
      let isClose = true;
      document.getElementById('nav_button').addEventListener("click", function() {
        if (isClose) {
          document.getElementById('nav_button').classList.remove('pix-hero-banner-solution-nav__icon--open');
          document.getElementById('nav_list').classList.remove('pix-hero-banner-solution-nav__list--close');
          isClose = false;
        } else {
          document.getElementById('nav_button').classList.add('pix-hero-banner-solution-nav__icon--open');
          document.getElementById('nav_list').classList.add('pix-hero-banner-solution-nav__list--close');
          isClose = true;
        }
      });
    </script>
  </footer>
{% endif %}
