{% if  portal.current_page != 'csat_survey' %}
  <footer class="pix-app-footer">
    <div class="pix-app-footer__logo"></div>
    <nav class="pix-app-footer__nav">
      <a href="https://status.pix.fr">Statut</a>
      <a href="mailto:contact@pix.fr">Nous contacter</a>
    </nav>
    <nav class="pix-app-footer__nav">
      <a class="pix-app-footer-nav__icon pix-app-footer-nav__icon--facebook" href="https://www.facebook.com/Pix-148371465913378/"></a>
      <a class="pix-app-footer-nav__icon pix-app-footer-nav__icon--twitter" href="https://twitter.com/pix_officiel"></a>
      <a class="pix-app-footer-nav__icon pix-app-footer-nav__icon--linkedin" href="https://www.linkedin.com/company/gip-pix/"></a>
    </nav>
  </footer>
{% endif %}
