{% if  portal.current_page != 'csat_survey' %}
  <footer class="pix-app-footer">
    <div class="pix-app-footer__logo"></div>
    <ul class="pix-app-footer__social-media">
      <li><a class="pix-app-footer-social-media__icon" href="https://www.facebook.com/Pix-148371465913378/"><img src="https://pix.fr/images/icn-facebook.svg" alt="Page Facebook de Pix"></a></li>
      <li><a class="pix-app-footer-social-media__icon" href="https://twitter.com/pix_officiel"><img src="https://pix.fr/images/icn-twitter.svg" alt="Page Twitter de Pix"></a></li>
      <li><a class="pix-app-footer-social-media__icon" href="https://www.linkedin.com/company/gip-pix/"><img src="https://pix.fr/images/icn-linkedin.svg" alt="Page Linkedin de Pix"></a></li>
    </ul>
  </footer>
{% endif %}
