<!-- Title for the page -->
<title>{{ portal.name }} - {{ meta.title }}</title>

<!-- Meta information -->
{{ meta | default_meta }}

<!-- Responsive setting -->
{{ portal | default_responsive_settings }}
<script src="https://kit.fontawesome.com/2dc126530a.js"> </script>
