<main class="new_ticket content main">
    <h1 class="heading">
        {% if portal.current_language.code == "fr" %}
            Envoyer une demande
        {% elsif portal.current_language.code == "en" %}
            Send a ticket
        {% endif %}
    </h1>
    {% if portal.current_language.code == "fr" %}
        Les champs marqués d'un * sont obligatoires.
    {% elsif portal.current_language.code == "en" %}
        Fields with * are mandatory.
    {% endif %}

    {% snippet new_ticket_form %}
</main>
