<main><section class="content main rounded-6 fc-new-ticket">
        <h1 class="heading">Envoyer une demande <!--{% translate ticket.submit_ticket_title %}--></h1>
        Les champs marqués d'une * sont obligatoires
        {% snippet new_ticket_form %}
    </section>

    <section class="sidebar content-light rounded-6 hide ticket-search" id="new-ticket-search">
        <br />
    </section>
</main>
