.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__content {
    width: 720px;
  }

  &__navigation {
    width: 240px;
  }
}

.article-content {
  &> #article-author {
    display: none;
  }

  &>.breadcrumb a {
    &:before {
      content: ">";
    }

    &:first-child {
     &:before {
       content: none;
     }
    }
  }

  &__title {
    color: #1d1c1d;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.25rem;
    margin: 30px 0;
  }

  &__body {
    font-size: 1rem;
  }
}

.article-navigation {
  &>#related_articles>.cs-g-c>.article-list ul li:before {
    content: none;
  }

  &>#related_articles>.cs-g-c>.article-list li {
    padding-left: 0;

    &>.ellipsis {
      white-space: normal;
      overflow: unset;
    }
  }
}
