.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0;

  @include device-is('desktop') {
    flex-direction: row;
    padding: 0;
  }

  &__content {
    width: 100%;

    @include device-is('desktop') {
      width: 720px;
    }
  }

  &__navigation {
    width: 100%;

    @include device-is('desktop') {
      width: 240px;
    }
  }

  &__new-ticket {
    font-size:1rem;
    line-height:1.5;

    a {
      color: $dodger-blue;
    }
  }
}

.article-content {
  &> #article-author {
    display: none;
  }

  a {
    color: $dodger-blue;
    &:focus, &:hover {
      text-decoration: underline;
      background-color: $transparent-yellow;
    }
  }

  &>.breadcrumb a {
    &:before {
      content: ">";
    }

    &:first-child {
     &:before {
       content: none;
     }
    }
  }

  &__title {
    color: $nero;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.25rem;
    margin: 30px 0;
  }

  &__body {
    font-size: 1rem;
  }
}

.article-navigation {

  border-top: 1px solid #dcdcdc;

  @include device-is('desktop') {
    border: none;
  }

  &>#related_articles>.cs-g-c>.article-list ul li:before {
    content: none;
  }

  &>#related_articles>.cs-g-c>.article-list li {
    padding-left: 0;
    list-style: disc;
    margin-left: 20px;
    color: $dusty-gray;

    @include device-is('desktop') {
      list-style: none;
      margin-left: 0;
    }


    &>.ellipsis {
      white-space: normal;
      overflow: unset;

      & a {
        color: $dodger-blue;
      }
    }
  }
}
