.pix-hero-banner {
  background-size: cover;
  background: $purple-blue;
  justify-content: center;
  padding-top: 145px;
  min-height: 60px;

  &__search-bar {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    width: 350px;

    @include device-is('desktop') {
      width: 620px;
    }

    @include device-is('mobile-small') {
      width: 280px;
    }

    &--little {
      padding: 50px 0;
    }
  }

  &__solution-nav {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    @include device-is('desktop') {
      width: 1024px;
    }
    @include device-is('large-desktop') {
      width: 1300px;
    }
    font-size: 0;
  }

  &__solution-resume {
    text-align: left;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;

    @include device-is('desktop') {
      width: 1024px;
    }
    @include device-is('large-desktop') {
      width: 1300px;
    }
    
    @include device-is('mobile-small') {
      width: 280px;
    }
  }
}
