.pix-hero-banner {

  &-category {

    &__title {
      color: #FFFFFF;
      font-size: 36px;
      line-height: 52px;
      font-weight: 600;
    }

    &__description {
      color: #FFFFFF;
      font-size: 18px;
      line-height: 26px;
    }
  }
}

