.pix-hero-banner {

  background-size: cover;
  background: #2986BE $blue-purple-gradient center bottom;
  justify-content: center;
  padding-top: 65px;
  min-height: 60px;

  &__search-bar {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }

  &__solution-nav {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    font-size: 0;
  }

  &__solution-resume {
    text-align: left;
    margin-top: 50px;
    padding-bottom: 20px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
