.pix-section-card {
  &__container {
    width: 100%;
  }

  &__list {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    li {
      align-self: center;
      display: inline;
      padding: 0;
      margin: 0 4px;
    }
  }
}

.pix-section-new-ticket{
  &__container {
    text-align:center;
    font-size:20px;
    line-height:1.5;
    margin-bottom:25px;

    a {
      color: $dodger-blue;
    }
  }
}
