.new_ticket {
  margin-top: 80px;
}

.form-portal {

  input[type="checkbox"]:before {
    top: 0;
    &:focus, &:hover {
      border: 2px solid $dodger-blue;
    }
  }
  #attachment-type .add_attachment {
    overflow: visible;
  }
  #attachment-type .hidden_upload input[type="file"] {
    opacity: 1;
    top: 0;
    width: 100%;
  }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus,
  select:focus,
  input[type="file"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus,
  .radio input[type="radio"]:focus:before,
  .checkbox input[type="checkbox"]:focus:before,
  a:focus, a:hover, *:focus {
    border: 2px solid $dodger-blue;

  }

  a {
    color:$dodger-blue;
  }

  input[type="submit"].btn-primary {
    border: 2px solid transparent;

    &:hover, &:focus {
      border: 2px solid white;
      box-shadow: 0 0 0 2px $dodger-blue;
    }
  }

  a.btn {
    border: 2px solid transparent;
    color: $nero;

    &:hover, &:focus {
      border: 2px solid white;
      box-shadow: 0 0 0 2px $dodger-blue;
    }
  }
}

#helpdesk_ticket_submit {
  color: $white;
}
