/* Globals */
@import 'globals/breakpoints';
@import 'globals/colors';

@import 'article-view';
@import 'hero-banner';
@import 'search-results';
@import 'solutions-category-home';
@import 'portal-home';
@import 'ticket-page';

/* Layout */
@import 'layout/app-header';
@import 'layout/app-footer';

/*  Components */
@import 'components/hero-banner-search-bar';
@import 'components/hero-banner-solution-nav';
@import 'components/hero-banner-solution-resume';
@import 'components/hot-news';
@import 'components/solution-card';

.pix-wrapper {
  background-color: $white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include device-is('desktop') {
    width: 1024px;
  }
}

.pix-page {
  width: 100%;
  background-color: $white;
}

.solution-category__title a {
  color: $nero;
  font-size: 24px;
  line-height: 30px;
}

.solution-article__title {
  color: $nero;
}

.ui-autocomplete {
  max-width: 275px;

  @include device-is('desktop') {
    max-width: 500px;
  }
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#support-search-input {
  &::placeholder {
    color: $tundora;
  }
  .mobile-icon-search {
    color: $tundora;
  }
}
