@import 'banner/banner';
@import 'solutions-category-home';
@import 'portal-home';

.pix-hero-banner {
  background: #2986BE;
  background-image: linear-gradient(135deg, #388AFF 0, #985FFF 100%);
  background-size: cover;
  background-position: center bottom;
  justify-content: center;
  padding-top: 65px;
  min-height: 60px;
}

.pix-hero-banner__search-bar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.pix-hero-banner__category {
  text-align: left;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.pix-hero-banner__category-nav {
  max-width: 960px;
  padding: 0px 10px;
  margin: 0px auto;

  &>ul {
    list-style: none;

    &>li {
      display: inline-block;

      &:hover .pix-hero-banner-category-nav__subnav {
          display: block;
      }

      &:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &.selected {
        background-color: #ffffff;
        color: #2C2D30;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  & a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 100%;
    line-height: 40px;
    min-height: 40px;
  }

  & a:hover {

  }
}

.pix-hero-banner-category-nav__subnav {
  display: none;
  position: absolute;
  background-color: #ffffff;
  list-style: none;
  z-index: 10;
  margin: 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);
  border: 1px solid #ccc;
  border-top: 0px;
  margin-left: -1px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  &:hover {
    display: block;
  }

  & ul {
    list-style: none;

    &>li {
      display: inline-block;

      &.selected {
        background-color: #ffffff;
        color: #2C2D30;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  & a {
    font-weight: normal;
    font-size: 15px;
    color: #2C2D30;
    text-decoration: none;
  }

  & a:hover {
    background-color: #F4F7FA;
    color: #2C2D30;
    font-weight: normal;
  }

}

.pix-hero-banner-category {
  &__title {
    color: #FFFFFF;
    font-size: 24px;
  }

  &__description {
    color: #FFFFFF;
    font-size: 18px;
  }
}

.pix-wrapper {
  background-color: #F4F7FA;
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 700px) {
    width: 70%;
  }
}

.pix-page {
  width: 100%;
  background-color: #F4F7FA;
}

.solution-category__title a {
  color: #1d1c1d;
  font-size: 24px;
  line-height: 30px;
}

.solution-article__title {
  color: #1d1c1d;
}
