/* Globals */
@import 'globals/colors';

@import 'hero-banner';
@import 'solutions-category-home';
@import 'portal-home';
@import 'article-view';

/* Layout */
@import 'layout/app-brand';
@import 'layout/app-header';
@import 'layout/app-footer';

/*  Components */
@import 'components/hero-banner-search-bar';
@import 'components/hero-banner-solution-nav';
@import 'components/hero-banner-solution-resume';
@import 'components/solution-card';

.pix-wrapper {
  background-color: $white;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.pix-page {
  width: 100%;
  background-color: $white;
}

.solution-category__title a {
  color: $nero;
  font-size: 24px;
  line-height: 30px;
}

.solution-article__title {
  color: $nero;
}

.ui-autocomplete {
  max-width: 500px;
}
