.pix-banner {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;

  &__brand {
    margin-left: 10px;
    float: left;
    height: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }

  &__splitter {
    width: 1px;
    border-left: 1px solid #FFFFFF;
    height: 40px;
    margin: 0 10px;
  }
}

.pix-banner-brand__title {
  color: #FFFFFF;
  font-size: 20px;
}
