.pix-banner {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;

  &--fixed {
    position: fixed;
    background-color: #ffffff;
    height: 70px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  &__brand {
    margin-left: 10px;
    float: left;
    height: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }
}

.pix-banner-brand {
  &__logo {
    background-image: url(https://pix.fr/images/pix-logo.svg);
    width: 61px;
    height: 50px;
    background-size: 61px 50px;
  }

  &__title {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;

    &--black {
      color: #1d1c1d;
    }
  }

  &__splitter {
    width: 1px;
    border-left: 1px solid #FFFFFF;
    height: 40px;
    margin: 0 10px;

    &--black {
      border-color: #1d1c1d;
    }
  }
}

